---
import { getCollection } from 'astro:content'
import App from '../components/App.astro'
import Card from '@/components/card/Index.astro'
import CardHeader from '@/components/card/Header.astro'
import CardTitle from '@/components/card/Title.astro'
import { Carousel } from '@/components/Carousel'
import SignatureButton from '@/components/SignatureButton.astro'

import heroImage1 from '../assets/hero_1.jpg'

import galery1 from '../assets/galery_1.jpg'
import galery2 from '../assets/galery_2.jpg'
import galery3 from '../assets/galery_3.jpg'
import galery4 from '../assets/galery_4.jpg'

const batikGalery = [galery1, galery2, galery3, galery4]

const batikList = (await getCollection('batik')).sort((a, b) => b.data.order - a.data.order)
---

<App title="Home" description="Galeri Batik Tin Gundih">
  <>
    <section
      style={{ background: `url(${heroImage1.src}) center/cover no-repeat` }}
      class="relative flex min-h-[calc(100vh-var(--spacing)*16)] items-center justify-center text-center"
    >
      <div id="title" class="absolute bottom-24 h-fit">
        <div class="flex flex-col justify-center gap-8 sm:flex-row">
          <SignatureButton
            tag="a"
            href="#batik"
            onclick="event.preventDefault(),document.querySelector('#batik')?.scrollIntoView({behavior:'smooth'})"
          >
            Lihat Batik Kami
          </SignatureButton>

          <SignatureButton tag="a" href="/about"> Tentang Kami </SignatureButton>
        </div>
      </div>
    </section>

    <section id="batik" class="bg-slate-50 py-16">
      <div class="mx-auto max-w-5xl">
        <div class="mb-12">
          <h2 class="mb-4 text-3xl font-bold">Daftar Batik Kami</h2>
        </div>

        <div class="grid gap-8 md:grid-cols-1 lg:grid-cols-2">
          {
            batikList.map(batik => (
              <Card class="overflow-hidden pt-0 transition-[shadow_transform] hover:scale-[102%] hover:shadow-lg">
                <a href={`/batik/${batik.id}`}>
                  <img
                    style={{ viewTransitionName: 'batik-' + batik.id }}
                    src={batik.data.heroImages[0].src}
                    loading="lazy"
                    alt={batik.data.title}
                    class="h-48 w-full object-cover"
                  />
                </a>
                <CardHeader>
                  <CardTitle>
                    <a
                      href={`/batik/${batik.id}`}
                      style={{ viewTransitionName: 'title-batik-' + batik.id }}
                      class="font-bold"
                    >
                      {batik.data.title}
                    </a>
                  </CardTitle>
                </CardHeader>
              </Card>
            ))
          }
        </div>
      </div>
    </section>

    <section id="galeri" class="scroll-mt-16 py-16">
      <div class="mx-auto max-w-5xl">
        <div class="mb-12">
          <h2 class="mb-4 text-3xl font-bold">Galeri</h2>
        </div>

        <Carousel
          client:load
          images={batikGalery}
          itemClass="h-[min(850px,calc(100vh-var(--spacing)*16))]"
        />
      </div>
    </section>
  </>
</App>
