---
import { getCollection } from 'astro:content'
import App from '../components/App.astro'
import Card from '@/components/card/Index.astro'
import CardHeader from '@/components/card/Header.astro'
import CardTitle from '@/components/card/Title.astro'
import Course from '@/components/Course'
import { Carousel } from '@/components/Carousel'
import SignatureButton from '@/components/SignatureButton.astro'

import heroImage1 from '../assets/hero_1.jpg'

import galery1 from '../assets/galery_1.jpg'
import galery2 from '../assets/galery_2.jpg'
import galery3 from '../assets/galery_3.jpg'
import galery4 from '../assets/galery_4.jpg'

import course1 from '../assets/course_1.jpg'
import course2 from '../assets/course_2.jpg'

const batikGalery = [galery1, galery2, galery3, galery4]
const courses = {
  Baju: course1,
  Totebag: course2,
}

const batikList = (await getCollection('batik')).sort((a, b) => b.data.order - a.data.order)
---

<App title="Home" description="Galeri Batik Tin Gundih">
  <>
    <section
      style={{
        background: `url(${heroImage1.src}) center/cover no-repeat`,
        viewTransitionName: 'about-us',
      }}
      class="relative flex min-h-[calc(100vh-var(--spacing)*16)] items-center justify-center bg-slate-50 text-center"
    >
      <div id="title" class="absolute bottom-6 h-fit md:bottom-24">
        <div class="flex flex-col justify-center gap-8 md:flex-row md:gap-4">
          <SignatureButton
            tag="a"
            href="#batik"
            onclick="event.preventDefault(),document.querySelector('#batik')?.scrollIntoView({behavior:'smooth'})"
          >
            Lihat Batik Kami
          </SignatureButton>

          <SignatureButton tag="a" href="/about">Tentang Kami</SignatureButton>
        </div>
      </div>
    </section>

    <section id="batik" class="m-4 scroll-mt-16 py-16 sm:m-0">
      <div class="mx-auto max-w-5xl">
        <div class="mb-6">
          <h2 class="text-3xl font-bold">Batik Kami</h2>
        </div>

        <div class="grid gap-8 md:grid-cols-1 lg:grid-cols-2">
          {
            batikList.map(batik => (
              <Card class="overflow-hidden pt-0 transition-[shadow_transform] hover:scale-[102%] hover:shadow-lg">
                <a href={`/batik/${batik.id}`}>
                  <img
                    style={{ viewTransitionName: 'batik-' + batik.id }}
                    src={batik.data.heroImages[0].src}
                    loading="lazy"
                    alt={batik.data.title}
                    class="h-64 w-full object-cover"
                  />
                </a>
                <CardTitle class="flex h-full text-center text-3xl font-bold">
                  <a
                    href={`/batik/${batik.id}`}
                    style={{ viewTransitionName: 'title-batik-' + batik.id }}
                    class="mx-2 my-auto sm:mx-4"
                  >
                    {batik.data.title}
                  </a>
                </CardTitle>
              </Card>
            ))
          }
        </div>
      </div>
    </section>

    <section id="kursus" class="m-4 bg-slate-50 py-16 sm:m-0">
      <div class="mx-auto max-w-5xl">
        <div class="mb-6">
          <h2 class="text-3xl font-bold">Kursus Kami</h2>
        </div>

        <div class="grid gap-8 md:grid-cols-1 lg:grid-cols-2">
          {
            Object.entries(courses).map(([title, image]) => (
              <Card class="overflow-hidden pt-0 transition-[shadow_transform] hover:scale-[102%] hover:shadow-lg">
                <Course client:load title={title} image={image} />

                <CardHeader class="px-0">
                  <CardTitle class="text-center text-3xl font-bold">{title}</CardTitle>
                </CardHeader>
              </Card>
            ))
          }
        </div>
      </div>
    </section>

    <section id="galeri" class="m-4 py-16 sm:m-0">
      <div class="mx-auto max-w-5xl">
        <div class="mb-6">
          <h2 class="text-3xl font-bold">Galeri</h2>
        </div>

        <Carousel
          client:load
          images={batikGalery}
          itemClass="h-[min(850px,calc(100vh-var(--spacing)*16))]"
        />
      </div>
    </section>
  </>
</App>
